/* Aleatory-1 */
	section#aleatory-1{
		margin: 28px 0;
		padding-top: 72px;
		min-height: 650px;
		min-height: 90%;
	}

	section#aleatory-1 .container{
		margin: 36px auto;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}

	section#aleatory-1 .container img,
	section#aleatory-1 .container div{
		width: 40%;
	}

	section#aleatory-1 .container div h2{
		text-align: left;
	}

	section#aleatory-1 .container div h2 span{
		color: #00c65e;
	}	

/* Products */
	section#products{
		margin: 122px 0 62px;
	}

	section#products .content{
		width: 70%;
		margin: 0 auto;
	}

	section#products .title h2{
		text-align: left;
	}

	section#products .title span{
		font-size: 1.2em;
		line-height: 1.5;
	}

	section#products .product-list{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	section#products .product-list .prod{
		width: 44%;
		margin: 24px 0;
		display: flex;
	}

	section#products .product-list .prod img{
		width: 90px;
		height: 90px;
	}

	section#products .product-list .prod span{
		font-weight: 600;
		font-size: 1.1em;
		line-height: 1.5;
	}

/* Plataforma de Cobranca */
	section#plataforma-cobranca{
		margin: 22px 0 62px;
	}

	section#plataforma-cobranca .title{
		width: 86%;
		margin: 0 auto;
	}

	section#plataforma-cobranca .title h2{
		color: #00c65e;
	}

	section#plataforma-cobranca .title span{
		font-size: 1.1em;
		line-height: 1.5;
	}

	section#plataforma-cobranca .content{
		margin: 24px auto;
		display: flex;
		column-gap: 60px;
		justify-content: space-between;
		align-items: center;
	}
	
	section#plataforma-cobranca .winthor img{
		width: 420px;
		height: auto;
	}

	section#plataforma-cobranca .winthor div img{
		float: left;
		margin-right: 8px;
		width: 42px;
		height: 42px;
		display: block;
	}

	section#plataforma-cobranca .winthor div{
		margin: 6px 0;
	}

	section#plataforma-cobranca .features-list{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	section#plataforma-cobranca .features-list .feature{
		width: 44%;
		margin: 12px 0;
		display: flex;
		align-items: center;
		column-gap: 12px;
	}

	section#plataforma-cobranca .features-list .feature img{ 
		width: 20px; 
		height: 20px; 
	}

	section#plataforma-cobranca .features-list .feature span{
		display: block;
		line-height: 1.2;
		margin-bottom: 6px;
	}
	
	section#plataforma-cobranca .features-list .feature a{
		color: #00c65e;
	}

	section#plataforma-cobranca .features-list .cta-box{
		width: 100%;
		margin: 20px 0;
		text-align: center;
	}

/* Saas Protesto  */
	section#saas-protesto{
		margin: 22px 0 62px;
	}
	
	section#saas-protesto .content{
		padding: 62px;
		border-radius: 0 24px 24px 0;
		background-color: rgb(242,247,244);
	}

	section#saas-protesto .content .parte-1{
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 32px;
	}

	section#saas-protesto .content .parte-1 .img-desc{
		width: 30%;
	}

	section#saas-protesto .content .parte-1 .description{
		width: 70%;
	}

	section#saas-protesto .content .parte-1 .description h2{
		color: #00c65e;
		text-align: left;
		margin-bottom: 0px;
	}

	section#saas-protesto .content .parte-1 .description .features-list{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	section#saas-protesto .content .parte-1 .description .features-list .feature{
		width: 40%;
		margin: 4px 0;
	}

	section#saas-protesto .content .parte-1 .description .features-list .feature span{
		font-weight: 600;
		font-size: 1.1em;
		line-height: 1.5;
	}

	section#saas-protesto .content .parte-2{
		/*width: 80%;*/
		margin: 12px auto;
	}

	section#saas-protesto .content .parte-2 h2{
		color: #00c65e;
		text-align: left;
		margin-top: 64px;
	}

	section#saas-protesto .content .parte-2 .cta-box{
		width: 100%;
		margin: 40px 0 0;
		text-align: center;
	}

/* Depoimentos */
	section#depoimentos{
		color: #fff;
		padding: 32px 0 64px;
		background-color: #07272D;
	}

	section#depoimentos h2{
		color: #00c65e;
		text-align: left;
	}

	section#depoimentos .depo{
		width: 600px;
		margin: 20px 0;
		font-size: 1.3em;
	}

	section#depoimentos .author{
		display: flex;
		font-size: 1.1em;
		align-items: center;
		column-gap: 20px;
	}

	section#depoimentos .author .perfil{
		width: 66px;
		height: 66px;
		border-radius: 50%;
		border: 3px solid #fff;
		background-size: cover;
		box-shadow: inset 0 0 0 3px #07272D;
		background-position: center center;
	}

	section#depoimentos .author span{
		font-weight: 600;
	}

	section#depoimentos .author p{
		margin: 0;
	}

/* Credores */
	section#credores{
		padding: 80px 0;
		text-align: center;
	}

	section#credores .items{
		display: flex;
		padding: 20px 0;
		column-gap: 20px;
		align-items: center;
		justify-content: space-around;
	}

	section#credores .items .item{
		display: flex;
		column-gap: 20px;
		align-items: center;
	}

	section#credores .items .item img{
		max-width: 140px;
		max-height: 80px;
	}

/* cta-final */
	section#cta-final{
		height: 90%;
		min-height: 550px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

/* prods-final */
	section#prods-final{
		padding: 60px 0;
	}

	section#prods-final h3{
		color: #00c65e;
		font-size: 2em;
		text-align: left;
		margin-bottom: 20px;
	}

	section#prods-final .product-list{
		display: flex;
		column-gap: 10px;
		justify-content: space-between;
	    align-items: flex-start;
	}

	section#prods-final .product-list .prod{
	    height: 225px;
	    position: relative;
	}

	section#prods-final .product-list .prod:nth-child(1){ width: 180px; }
	section#prods-final .product-list .prod:nth-child(2){ width: 190px; }
	section#prods-final .product-list .prod:nth-child(3){ width: 200px; }
	section#prods-final .product-list .prod:nth-child(4){ width: 200px; }
	section#prods-final .product-list .prod:nth-child(5){ width: 200px; }

	section#prods-final .product-list .prod img{
		width: 64px;
		height: 64px;
		margin-bottom: 6px;
	}

	section#prods-final .product-list .prod span{
		font-weight: 600;
	}

	section#prods-final .product-list .prod p{
		margin: 0;
		font-size: .9em;
	}

	section#prods-final .product-list .prod a{
		color: #00c65e;
		position: absolute;
		bottom: 0;
	}
