footer{
	color: #fff;
	font-weight: 300;
	padding: 28px 20px 28px;
	background-color: #07272D;
}

footer .infos{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: column;
	row-gap: 12px;
}

footer .social-links{
	display: none;
}

footer .logo img{
	width: 150px;
	display: block;
	margin: 0 auto;
}

.copy{
	color: #fff;
	font-weight: 300;
	padding: 8px 0 4px;
	background-color: #07272D;
	border-top: 1px solid #fff;
}

.copy p{
	margin: 0;
}

@media (min-width: 768px) {
	footer{
		padding: 32px 0 28px;
	}

	footer .infos{
		row-gap: 0;
		column-gap: 4%;
		flex-direction: row;
	}
	
	footer .infos > div{
		width: 48%;
	}
}

@media (min-width: 992px) {
	footer .infos{
		column-gap: 1%;
	}

	footer .infos > div{
		width: 24%;
	}

}