header{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-bottom: 100px;
	background: rgb(242,247,244) url('http://www.inbolso.com.br/imgs/header_bg.jpg') no-repeat;
	background-position: center center;
	background-size: cover;
}

header .content{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 12px;
	background-color: rgba(242,247,244,0.6);
}

header .content p{
	font-size: 1em;
}

header .content .slide-img{
	display: none;
	text-align: center;
	width: 40%;
}

header .content .slide-img img{
	width: 740px;
}
	
header .content .cta{
	margin-top: 20px;
}

header .features{
	overflow-x: auto;
	position: absolute;
	top: 90%;
	left: 0;
	right: 0;
	color: #fff;
	padding: 32px;
	background-color: #07272D;
}

header .features .container{
	display: flex;
	justify-content: space-between;
    align-items: flex-start;
    column-gap: 12px;
    width: 820px;
}

header .features .container .item{
    height: 195px;
    position: relative;
    display: flex;
   	flex-direction: column;
}

header .features .container .item:nth-child(1){ width: 20%; }
header .features .container .item:nth-child(2){ width: 18%; }
header .features .container .item:nth-child(3){ width: 22%; }
header .features .container .item:nth-child(4){ width: 19%; }
header .features .container .item:nth-child(5){ width: 20%; }

header .features .container .item img{
	width: 28px;
	height: 28px;
	margin-right: 6px;
	margin-bottom: 6px;
}

header .features .container .item span{
	font-weight: 600;
}

header .features .container .item p{
	margin: 0;
	font-size: .9em;
}

header .features .container .item a{
	color: #00c65e;
	position: absolute;
	bottom: 0;
}

@media (max-width: 767px) {
	header .container.box{
		width: 100%;
		height: 100%;
	}
}

@media (min-width: 768px) {
	header{
		background-position: 380px center;
		background-size: contain;
	}

	header .content{
		padding: 20px;
		background-color: rgba(242,247,244,0);
	}


	header .content .slide-img{
		display: block;
	}

	header .content > *{
		width: 60%;
	}

	header .features .container{
		width: 720px;
	}
}

@media (min-width: 992px) {
	header{
		background-position: 400px center;
	}
	
	header .content p{
		font-size: 1.1em;
	}

	header .features{
		top: 95%;
	}

	header .features .container{
        width: 960px;
		column-gap: 0;
	}
	
	header .features .container .item{
    	height: 145px;
		flex-direction: row;
	}
}

@media (min-width: 1200px) {
	header{
		background-position: 90% center;
	}

	header .content > *{
		width: 50%;
	}

	header .features .container{
        width: 1140px;
	}

	header .features .container .item{
		height: 125px;
	}

	header .features .container .item:nth-child(1){ width: 20%; }
	header .features .container .item:nth-child(2){ width: 20%; }
	header .features .container .item:nth-child(3){ width: 22%; }
	header .features .container .item:nth-child(4){ width: 18%; }
	header .features .container .item:nth-child(5){ width: 20%; }
}