header{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-bottom: 100px;
	background: rgb(242,247,244) url('http://www.inbolso.com.br/imgs/header_bg.jpg') no-repeat;
	background-position: 85% center;
	background-size: contain;
}

header .content{
	display: flex;
	justify-content: center;
	align-items: center;
}

header .content > *{
	width: 50%;
}

header .content p{
	font-size: 1.1em;
}

header .content .slide-img{
	text-align: center;
}

header .content .slide-img img{
	width: 740px;
}
	
header .content .cta{
	margin-top: 20px;
}

header .features{
	position: absolute;
	top: 95%;
	left: 0;
	right: 0;
	color: #fff;
	padding: 32px 0;
	background-color: #07272D;
}

header .features .container{
	display: flex;
	justify-content: space-between;
    align-items: flex-start;
}

header .features .container .item{
    height: 125px;
    position: relative;
    display: flex;
}

header .features .container .item:nth-child(1){ width: 300px; }
header .features .container .item:nth-child(2){ width: 360px; }
header .features .container .item:nth-child(3){ width: 340px; }
header .features .container .item:nth-child(4){ width: 300px; }
header .features .container .item:nth-child(5){ width: 340px; }

header .features .container .item img{
	width: 28px;
	height: 28px;
	margin-right: 6px;
}

header .features .container .item span{
	font-weight: 600;
}

header .features .container .item p{
	margin: 0;
	font-size: .9em;
}

header .features .container .item a{
	color: #00c65e;
	position: absolute;
	bottom: 0;
}