nav{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 6px 0;
	background-color: #fff;
	box-shadow: 0 0 3px rgba(0, 0, 0, .1);
	z-index: 10000;
}

nav div{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav .logo-home img{
	width: 120px;
}

nav ul li{
	margin: 0 16px;
	display: inline-block;
}

nav ul li a{
	color: inherit;
	display: inline-block;
}